<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= render "layouts/navbar" %>
      <div class="container">
        <% if notice %>
          <div class="alert alert-success alert-dismissible"><%= notice %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger alert-dismissible"><%= alert %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
